
html{
    font-size: 62.5%;
}

body{
    display: block;
    font: 1.6rem/1.25 'Roboto', sans-serif;
    color: #666666;
    background: #222222 no-repeat ;
    margin:0;
    padding: 0;
    background-size: 100% 30%;
}

h2{
    font-weight: 700;
    font-size: 20px;
    color: #888888;
    margin: 0;

}

h2 strong{
    font-size: 50px;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
}

h3{
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    color: #444444;
}

h4{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    color: #888888;
}

button{
    font-weight: 700;
    font-size: 14px
}

header, section, footer{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header{
    padding-top: 50px;
    padding-bottom: 125px;
    background: url("../images/grunge.png") no-repeat bottom left;
}
.navWrapper{
    background: url("../images/band2.jpg") no-repeat;
    background-size: cover;
}

h1 #logo{
    background: url(../images/RockBand.png);
    display: block;
    height: 115px;
    width: 220px;
    text-indent: -9999px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav a{
    font-size: 20px;
    font-weight: 700;
    display: block;
    width: 17rem;
    padding: .5rem .75rem;
    color: #CCCCCC;
    text-decoration: none;
    opacity: .50;
}

nav a:hover{
    color: #EEEEEE;
    opacity: 1;
    border-left: 3px solid #9B59B6;
}

#cta{
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 25px;
    float: right;
    background-color: #222222;
    width: 300px;
    height: 200px;
    font-weight: 700;

}

#cta::after{
    content: '';
    border-style: solid;
    border-width: 0 0 200px 100px;
    border-color: transparent transparent #222 transparent;
    position: absolute;
    top: 0;
    left: -100px;
}

#cta h2{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #EEEEEE;
}

#cta h3{
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 700;
}

#cta a{
    display: block;
    font-weight: 700;
    font-size: 14px;
    width: 80px;
    padding: 10px 5px;
    background-color: #9B59B6;
    text-decoration: none;
    border-bottom: 3px solid #783C90;
    color: #EEEEEE;
    position: relative;
}

#cta a::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 39px 39px;
    border-color: transparent transparent transparent #9B59B6;
    position: absolute;
    bottom: -2px;
    right: -38px;
}

#cta a::before{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 19px 20px;
    border-color: transparent transparent #9B59B6 transparent;
    position: absolute;
    bottom: 0;
    right: -27px;
}

/* ----- NEWS SECTION --- */

.newsWrapper{
    height: 800px;
    background-color: #EEEEEE;
    background-size: cover;
    padding: 0;
}
#mainNews {
    padding-top: 130px;
    height: 800px;
    vertical-align: middle;
}

#mainNews h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 0;
}

#mainNews h2 strong::before{
    content:"\A";
    white-space: pre;
}

.featArt{
    float: left;
    margin: 15px 8px 8px 8px;
    width: 515px;
    height: 450px;
    background-image: url("https://static.pexels.com/photos/121748/pexels-photo-121748.jpeg");
    background-size: cover;
}

.article{
    float: left;
    margin: 15px 8px 8px 18px;
    height: 210px;
    width: 300px;
    background-image: url("https://static.pexels.com/photos/210873/pexels-photo-210873.jpeg");
    background-size: cover;
}

#mainNews article .text p{
    color: #A5A5A5;
}

#mainNews article .text h4, h3{
    color: #E5E5E5;
}

#mainNews article .text{
    display: block;
    background-color: #222;
    opacity: 0.75;
    border-bottom: 3px solid #A5A5A5;
    line-height: .25;
    padding: 20px;
    bottom: 0;
    margin-top: 30%;
    width: 75%;
}

#mainNews article .text:hover{
    background-color: #9B59B6;
    border-bottom: 3px solid #783C90;
}

/*  -------- EVENTS SECTION ------ */

.eventWrapper{
    background-image: url("../images/band.jpg");
    padding: 0;
    height: 768px;
    background-size: cover;
    border: 1px solid transparent;
}

#events{
    padding-top: 100px;
    background: url("../images/grunge2.png") no-repeat left top;
    margin-top: 0;
    border: 1px solid transparent;
}

#events h2{
    display: block;
    text-align: right;
    color: #A5A5A5;
    border-right: 3px solid #CCCCCC;
    line-height: .75;
    padding-right: 10px;
    margin: 0;
}

#events h2 strong{
    color: #E5E5E5;
}
#events h2 strong::before{
    content:"\A";
    white-space: pre;
}

.tour{
    display: block;
    color: #E5E5E5;
    font-weight: 400;
    padding: 10px 10px 30px 0;
    background-color: #9B59B6;
    text-align: right;
    margin-top: 50px;
    margin-right: 15px;
    position: relative;
    float: left;
    line-height: .75;
    margin-left: 40px;
}

.tour::before{
    content: '';
    border-style: solid;
    border-width: 0 100px 91px 0;
    border-color: transparent #9B59B6 transparent transparent;
    position: absolute;
    top: 0;
    left: -100px;
}

.tour strong{
    font-weight: 700;
    font-size: 16px;
}

.tour strong::before{
    content:"\A";
    white-space: pre;
}

#events #mainTour{

    margin-top: 50px;
    color: #E5E5E5;
    width: 76%;
    height: 484px;
    float: left;
    border-collapse: collapse;
}

#events #mainTour tr{
    height: 118px;
    vertical-align: middle;
}

#events #mainTour tr td{
    width: calc(100%/5);
    vertical-align: middle;
    margin: 0;
    padding-left: 25px;
    font-weight: 700;
}

#events #mainTour tr td:nth-child(2){
    width: calc(100%/2);
    text-align: left;
    line-height: .55;
}

#events #mainTour tr td:nth-child(3){
    text-align: right;
}

#events #mainTour tr:nth-child(even){
    background-color: #222222;
    margin: 0;
}

#events #mainTour tr .info{
    font-size: 35px;
    color: #CCCCCC;

}

#events #mainTour tr .info strong{
    font-size: 16px;
    font-weight: 700;
    color: white;
}

#events #mainTour tr .info strong::before{
    content:"\A";
    white-space: pre;

}

#events .link {
    float: left;
    padding-left: 300px;
}

#events .link a{
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #EEEEEE;
    text-decoration: none;
    width: 100px;
    padding: 10px 5px;
    background-color: #9B59B6;
    border-bottom: 3px solid #783C90;
    position: relative;
}

#events .link a::before{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 19px 20px;
    border-color: transparent transparent #9B59B6 transparent;
    position: absolute;
    right: -27px;
    bottom: 0;
}

#events .link a::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 39px 39px;
    border-color: transparent transparent transparent #9B59B6;
    position: absolute;
    bottom: -2px;
    right: -38px;
}


/* --------ABOUT SECTION -----*/

#members{
    display: block;
    height: 60rem;
    background: url('../images/nycity.png') no-repeat bottom left;

}

#members h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

#members h2 strong::before{
    content:"\A";
    white-space: pre;

}

#members strong{
    color: #E5E5E5;
}

#members #quote{
    font-weight: 700;
    color: #E5E5E5;
    margin-bottom: 50px
}

#members #info{
    margin-bottom: 100px;
}

#members p{
    color: #888888;

}

#members ul{
    display: block;
    float: right;
    width: 385px;
    padding: 0;
    position: relative;
    margin: 10px 0 0 10px;
}

#members ul li{
    list-style-type: none;
    display: inline-block;
    width: 150px;
    height: 100px;
    float: left;
    padding: 0 10px 10px 0;

}

#members a{
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: #EEEEEE;
    text-decoration: none;
    width: 100px;
    padding: 10px 5px;
    background-color: #9B59B6;
    border-bottom: 3px solid #783C90;
    position: relative;
}

#members a::before{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 19px 20px;
    border-color: transparent transparent #9B59B6 transparent;
    position: absolute;
    right: -27px;
    bottom: 0;
}

#members a::after{
    content: '';
    display: block;
    border-style: solid;
    border-width: 0 0 39px 39px;
    border-color: transparent transparent transparent #9B59B6;
    position: absolute;
    bottom: -2px;
    right: -38px;
}


/* ------ FOOTER AREA ----*/

.footerWrap{
    background-color: #EEEEEE;
    background-size: cover;
    margin: 0;

}

footer{

    text-align: center;
    display: block;
    border: 1px solid transparent;
}

.footer li{
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: 3rem;
}

.footer li a{
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    font-weight: 700;
}

.footer li a[href*='facebook']{
    text-indent: -9999px;
    background:url('../images/facebook.png') no-repeat;
    height: 3rem;
    width: 3rem;

}

.footer li a[href*='facebook']:hover{
    background-image:url('../images/facebook2.png');
}

.footer li a[href*='youtube']{
    text-indent: -9999px;
    background: url('../images/youtube.png') no-repeat;
    width: 3rem;
    height: 3rem;
}

.footer li a[href*='youtube']:hover{
    background-image: url('../images/youtube2.png');
}

.footer li a[href*='twitter']{
    text-indent: -9999px;
    background: url('../images/twitter.png') no-repeat;
    width: 3rem;
    height: 3rem;
}

.footer li a[href*='twitter']:hover{
    background-image: url('../images/twitter2.png');
}

.footer li a[href*='google']{
    text-indent: -9999px;
    background: url('../images/google.png') no-repeat;
    width: 3rem;
    height: 3rem;
}

.footer li a[href*='google']:hover{
    background-image: url('../images/google2.png');
}

.footer li a[href*='instagram']{
    text-indent: -9999px;
    background: url('../images/insta.png') no-repeat;
    width: 3rem;
    height: 3rem;
}

.footer li a[href*='instagram']:hover{
    background-image: url('../images/insta2.png');
}

.footer li a[href*='newsletter']{
    color: #222222;
    text-decoration: none;
    font-weight: 700;
    line-height: 3rem;
    white-space: nowrap;
}

.footer li a[href*='newsletter']:hover{
    color: #9B59B6;
}

.footer li a[href*='contact']{
    color: #222222;
    text-decoration: none;
    font-weight: 700;
    line-height: 3rem;
    white-space: nowrap;
}

.footer li a[href*='contact']:hover{
    color: #9B59B6;
}

/* -----TOUR PAGE ---- */

.featTourWrap{
    height: 400px;
    margin: 0;
    color: #CCCCCC;
}

.featTour h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

.featTour h2 strong::before{
    content:"\A";
    white-space: pre;
}

.featTour h2 strong{
    color: #E5E5E5;
}

.featTour h3{

    line-height: .75;

}

.featTour h3 strong::before{
    content: "\A";
    white-space: pre;
}

.featTour h3 strong{
    font-size: 16px;
    color: #A5A5A5;
}

.tourFull h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

.tourFull h2 strong::before{
    content:"\A";
    white-space: pre;
}

.tourFull h2 strong{
    color: #E5E5E5;
}

.tourFull h3{

    line-height: .75;

}

.tourFull h3 strong::before{
    content: "\A";
    white-space: pre;
}

.tourFull h3 strong{
    font-size: 16px;
    color: #A5A5A5;
}

.featTour{
     padding-top: 100px;
     margin-top: 0;
     border: 1px solid transparent;
 }

.featTour #featTour {
    margin-top: 50px;
    color: #E5E5E5;
    width: 76%;
    float: right;
    border-collapse: collapse;
}

.featTour #featTour tr{
    height: 118px;
    vertical-align: middle;
    background-color: #666666;
}

.featTour #featTour tr td{
    width: calc(100%/5);
    vertical-align: middle;
    margin: 0;
    padding-left: 25px;
    font-weight: 700;
}

.featTour #featTour tr td:nth-child(2){
    width: calc(100%/2);
    text-align: left;
    line-height: .55;

}

.featTour #featTour tr td:nth-child(3){
    text-align: right;
    padding-right: 20px;
}


.tourFull{
    padding-top: 100px;
    margin-top: 0;
    height: 1200px;
    background: url('../images/nycity.png') bottom left no-repeat;
}

.tourFull #tourInfo {
    margin-top: 50px;
    color: #E5E5E5;
    width: 76%;
    float: right;
    border-collapse: collapse;
}

.tourFull #tourInfo tr{
    height: 118px;
    vertical-align: middle;
}

.tourFull #tourInfo tr:nth-child(even){
    background-color: #9B59B6;
}

.tourFull #tourInfo tr td{
    width: calc(100%/5);
    vertical-align: middle;
    margin: 0;
    padding-left: 25px;
    font-weight: 700;
}

.tourFull #tourInfo tr td:nth-child(2){
    width: calc(100%/2);
    text-align: left;
    line-height: .55;
}

.tourFull #tourInfo tr td:nth-child(3){
    text-align: right;
    padding-right: 20px;
}

/* ----- ABOUT PAGE ----*/

.timeline h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

.timeline h2 strong::before{
    content:"\A";
    white-space: pre;
}

.timeline h2 strong{
    color: #E5E5E5;
}

.timeline ol{
    display: block;
    list-style-type: none;
}

.timeline ol li{
    width: calc(100%/3);
}

.timeline ol li h3 strong::before{
    content:"\A";
    white-space: pre;
}

.timeline ol li h3 strong{
    font-weight: 400;
    font-size: 20px;
}

.timeline ol li:nth-child(odd){
    background-color: #9B59B6;
}

.timeline ol li:nth-child(2){
    margin-left: 50px;
}

.timeline ol li:nth-child(3){
    margin-left: 100px;
}

.timeline ol li:nth-child(4){
    margin-left: 150px;
}

#memberInfo h2{
    display: block;
    border-left: 3px solid #CCCCCC;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

#memberInfo h2 strong::before{
    content:"\A";
    white-space: pre;
}

#memberInfo h2 strong{
    color: #E5E5E5;
}

#memberInfo article{
    display: block;
    margin-top: 25px;
}
#memberInfo article h3{
    border-right: 3px solid #783C90;
    padding-right: 10px;
    display: block;
    float: right;
    text-align: right;
}

#memberInfo article h3 strong::before{
    content: "\A";
    white-space: pre;
}

#memberInfo article h3 strong{
    font-weight: 400;
    color: #9B59B6;
}

/* ----- NEWS PAGE ----*/


#featureNews h2{
    display: block;
    border-left: 3px solid #A5A5A5;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

#featureNews h2 strong::before{
    content:"\A";
    white-space: pre;
}

#featureNews h2 strong{
    color: #E5E5E5;
}

#news h2{
    display: block;
    border-left: 3px solid #A5A5A5;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 0 0;
}

#news h2 strong::before{
    content:"\A";
    white-space: pre;
}

#news h2 strong{
    color: #E5E5E5;
}

#featureNews article h3{
    display: block;
    float: right;
    border-right: 3px solid #783C90;
    line-height: .75;
    padding-right: 10px;
    margin: 50px 0 0 0;
    font-weight: 400;
    text-align: right;
    color: #9B59B6;
}

#featureNews article h3 strong::before{
    content:"\A";
    white-space: pre;
}

#featureNews article h3 strong{
    color: #783C90;
    font-size: 16px;
}

#featureNews article img{
    padding-top: 30px;
}

#news{
    height: 250rem;
}

#news article{
    border-bottom: 2px solid #783C90;
    display: inline-block;
}

#news p{
    display: block;
    float: left;
}
#news article h3{
    display: block;
    float: right;
    border-right: 3px solid #A5A5A5;
    line-height: .75;
    padding-right: 10px;
    margin: 50px 0 0 0;
    font-weight: 400;
    text-align: right;

}

#news article h3 strong::before{
    content:"\A";
    white-space: pre;
}

#news article h3 strong{
    font-size: 16px;
}

#news article img{
    display: block;
    padding-top: 30px;
    float: left;
}

/* ----- CONTACT PAGE ---- */
.contact{
    height: 70rem;
}
.contact form h2 strong{
    display: block;
    color: #E5E5E5;
    border-left: 3px solid #A5A5A5;
    line-height: .75;
    padding-left: 10px;
    margin: 50px 0 35px 0;
    padding-top: 25px;

}

.contact form input[type=text]{
    width: 100%;
    font-size: 20px;
    border: 3px solid #A5A5A5;
}

.contact form input[type=email]{
    width: 100%;
    font-size: 20px;
    border: 3px solid #A5A5A5;
}

.contact form textarea{
    width: 100%;
    font-size: 20px;
    height: 400px;
    box-sizing: border-box;
    border: 3px solid #A5A5A5;
    border-radius: 5px;
    resize: none;
}

.contact form input[type=submit]{
    display: block;
    margin: auto;
    border: 3px solid #A5A5A5;
    font-size: 20px;
    border-radius: 5px;
}

.contact form input[type=submit]:hover{
    background-color:  #9B59B6;
    color: #A5A5A5;
}

.contact form input[type=checkbox]{
    font-size: 20px;
}

.contact form label{
    font-size: 20px;
    text-align: center;
    color: #CCCCCC;
}

.contact form div{
    font-size: 20px;
    color: red;
}

.contact form #submitFeedback{
    text-align: center;
    font-size: 20px;
    color: red;
}

.contact form label{
    font-size: 20px;
    color: #E5E5E5;
}